Q1. Write a code to create a string with your name and print it.

In [2]:
# Create a string with your name
my_name = "Chetan Nagpure"

# Print the name
print("My name is:", my_name)

My name is: Chetan Nagpure

Q2. Write a code to find the length of the string "Hello World".

In [4]:
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [6]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [7]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [9]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [13]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]       # indexing starts at 0.
print("The second elemenr is:", second_element)

The second elemenr is: b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
# creating a tuple

my_tuple = (100, 200, 300)

# printing the tuple

print(my_tuple)

(100, 200, 300)

Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("The minimum number is:", minimum)

The minimum number is: 5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
# create a tuple with three fruits

fruits = ("apple", "banana", "kiwi")

# check if "kiwi" is in the tuple

if "kiwi" in fruits :
  print("kiwi is in the tuple")
else :
  print("kiwi is not in the tuple")

kiwi is in the tuple

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [25]:
# Create a set with elements 'a', 'b', 'c'

my_set = {'a', 'b', 'c'}

# Print the set

print(my_set)

{'b', 'a', 'c'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [26]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [28]:
my_set = {1, 2, 3, 4}
my_set.discard(4)        # safely removes if present
print(my_set)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [30]:
# define the sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# find the union of the sets

union_set = set1.union(set2)

# print the union set

print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [32]:
# Define the sets

set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection

intersection = set1.intersection(set2)

# Print the intersection set

print("Intersection of sets:", intersection)

Intersection of sets: {2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [33]:
# Creating the dictionary

person = {
    "name": "Chetan",
    "age": 28,
    "city": "Nagpur"
}

# Printing the dictionary

print(person)

{'name': 'Chetan', 'age': 28, 'city': 'Nagpur'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [35]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [37]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

print(person)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
# Define the dictionary

person = {'name': 'Alice', 'city': 'Paris'}

# Check if 'city' key exists

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [39]:
# Creating a list

my_list = [1, 2, 3, 4, 5]

# Creating a tuple

my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary

my_dict = {'name': 'Chetan', 'age': 25, 'city': 'Pune'}

# Printing them

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Chetan', 'age': 25, 'city': 'Pune'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [41]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list:", random_numbers)

Sorted list: [4, 29, 32, 33, 99]

Q28.  Write a code to create a list with strings and print the element at the third index.

In [42]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print("Element at index 3:", my_list[3])

Element at index 3: date

Q29.  Write a code to combine two dictionaries into one and print the result.

In [43]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set.

In [44]:
# List of strings
string_list = ["apple", "banana", "apple", "orange", "banana"]

# Convert list to set
string_set = set(string_list)

# Print the set
print(string_set)

{'apple', 'banana', 'orange'}